# Python
__pycache__/
*.py[cod]
venv/
ENV/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Lambda package
lambda_package.zip

# Config
config/config.local.yaml

# IDE
.vscode/
.idea/

# OS
.DS_Store
